* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Clash Grotesk", Arial;
}

body {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: #161616;
   gap: 15px;
   overflow-x: hidden;
}

button {
   cursor: pointer;
   background-color: white;
}

.canvas-container {
   position: relative;
}

.canvas {
   background-color: #87cefa;
}

.game-over {
   font-size: 1.6rem;
   font-weight: 500;
   text-align: center;
   margin-block-end: 15px;
   display: none;
}

.message-container {
   position: absolute;
   display: flex;
   flex-direction: column;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.btn {
   padding: 10px 25px;
   font-weight: 500;
   font-size: 2rem;
   border-radius: 4px;
   border: 3.5px solid #161616;
   margin-inline: auto;
}

.guide-btn {
   padding: 5px 8px;
   font-size: 1.1rem;
   cursor: pointer;
   background-color: #87cefa;
   border-radius: 2px;
   border: 2px solid #87cefa;
}

.guide-btn:hover {
   border: 2px solid #161616;
}

.shoot-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.3rem;
   border: 2px solid #161616;
   border-radius: 3px;
}

.dashboard {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.dashboard:first-child {
   padding-block-start: 20px;
}

.dashboard:first-child .dashboard__group {
   gap: 25px;
}

.dashboard:last-child > div {
   display: flex;
}

.dashboard__left {
   display: flex;
   align-items: center;
   gap: 20px;
}

.timer {
   font-size: 2rem;
}

.dashboard__group {
   display: flex;
   gap: 5px;
}

.record {
   display: flex;
   align-items: center;
   gap: 10px;
}

.record__title {
   font-size: 1.1rem;
   font-weight: 500;
   background-color: rgb(255, 227, 18);
}

.record__data {
   font-size: 1.4rem;
   font-weight: 600;
}

.score {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 15px;
}

.score__title {
   font-size: 1.5rem;
   font-weight: 600;
   background-color: rgb(255, 227, 18);
}

.score__data {
   font-size: 2.2rem;
   font-weight: 500;
}

.lives,
.stars {
   display: flex;
   align-items: center;
   gap: 3px;
}

.lives__title,
.stars__title {
   font-size: 1.7rem;
   font-weight: 500;
}

.lives__data,
.stars__data {
   font-size: 1.6rem;
   margin-block-end: -5px;
}

.game-controls {
   display: none;
}

@media all and (max-width: 800px) {
   .game-controls {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding-block: 20px;
      gap: 40px;
   }
   .game-controls__movement {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr 1fr;
      gap: 15px;
   }
   .game-controls button {
      padding: 10px;
      border: 2px solid #161616;
      border-radius: 2px;
   }
   .button-up {
      grid-area: 1 / 2;
   }
   .button-down {
      grid-area: 2 / 2;
   }
   .button-left {
      grid-area: 2 / 1;
   }
   .button-right {
      grid-area: 2 / 3;
   }
}

@media all and (max-width: 615px) {
   html {
      font-size: 95%;
   }
   body {
      gap: 25px;
   }
   .dashboard {
      padding-inline: 30px;
   }
   .dashboard:first-child {
      flex-direction: column;
      gap: 15px;
   }
   .timer {
      font-size: 2.5rem;
   }
}

@media all and (max-width: 450px) {
   .game-controls + .dashboard {
      flex-direction: column;
      gap: 20px;
   }
   .guide-btn {
      order: 3;
   }
}
